/* canvas{
  position: fixed;
  top: 0;
  left: 0;
} */

/* #container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
} */
/*h1 {
  top: 50%;
  left: 50%;
  color: white;
  font-size: 200%;
  /* margin: 10%; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 300; */
  /* text-align: center; */
  /* height: auto; */
  /* width: fit-content; */
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1rem; */
  /* z-index: 1;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /* z-index: 1; 
}*/

/* .absolute {
  position: absolute;
  top: 30px;
  left: 360px;
  width: 250px;
  border: 2px solid blue;
  text-align: center;
} */
#my{
  zoom: 100%;
  }

*, *:before, *:after {
  box-sizing: border-box;
}

.modal{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border: 6px solid #0C8DE8;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 80%;
  height: 80%;
  /* max-width: 80%; */
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
}

.modal.active {
  transform: translate(-50%,-50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #0C8DE8;
}

.modal-header .title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #0C8DE8;
  padding: 5px;
}

.modal-header .subtitle{
  font-size: auto;
  font-weight: bold;
  color: #0C8DE8;
  padding: 5px;
}

.modal-header .close-button{
  cursor : pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.1rem;
  font-weight: bold;
  color: #0C8DE8;
  padding: 5px;
} 

.modal-body {
  padding: 10px 15px;
  color: #0A2463;
}

.modal-body .date {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding-bottom: 6px;
  color: #0A2463;
  white-space: pre-wrap;
}

.modal-body .description {
  white-space: pre-wrap;
  font-size: 1.5rem;
}

.modal-body .image {
  /* width: 70%; */
  max-width: 70%;
  max-height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #0A2463;
}

.modal-body .link-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:1rem
}

.modal-body .credits {
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
  padding-bottom: 6px;
  color: #0A2463;
  white-space: pre-wrap
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  position: fixed;
  top: 5%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  z-index: 1;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  z-index: 1;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


/* ====================================== */
/* on/off switch toggle */
/* ====================================== */
#switch-container {
  margin: 1rem 0;
}

#sound-off-icon,
#sound-on-icon {
  z-index: 0;
  position: absolute;
}

#sound-off-icon {
  top: 9px;
  right: 7px;
}

#sound-on-icon {
  top: .5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch:before input { 
  content: "switch";
  opacity: 0;
  width: 0;
  height: 0;
}

input:before {
  content: "input";
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;  /* light gray */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ff7f; /* blue */
}

input:focus + .slider {
  /* blue */
  box-shadow: 0 0 1px #00ff7f; /* blue */
}

input:checked + .slider:before {
  content: "";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* give the button rounded edges */
/* for square edges, remove these values */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}



/* ====================================== */
/* lavendar sound making button  */
/* ====================================== */
#sound-making-button {
  display: inline-block;
  margin: 1rem 0;
  padding: .5rem 2rem;
  border: none;
  background-color: #e8cce2;
  color: #333;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .4);
  transition: box-shadow .25s, background-color .25s;
}

#sound-making-button:hover {
  cursor: pointer;
  background-color: #dec5d9;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .5);
}